.container {
     color: aqua;
     font:xx-large;
     background-color: black;
  
     
     width: 500px;
    }
    


     
.noble  {
    color: bisque;
    background-color: black;
    width: 200px;
    margin: auto;
}